<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hotsite</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/borda.css" />
</head>

<body>





    <div class="container-fluid p-5">
        <div class="row text-center  ">
               <div class="col-md-2 col-lg-3"> </div>
                    <div class="col-sm-12 col-md-8 col-lg-6 ">
                                <header>
                                    <nav>
                                        <h1 class="text-success" style="text-shadow: 1px 1px  3px black" >Iniciativa Vida Saudável</h1>
                                    </nav>

                                        <!--
                                      <ul class="navbar-nav flex-grow-1">                   
                                                                                                                          
                                                    <li class="nav-item">
                                                 <a class="nav-link text-light" asp-controller="Home" asp-action="cadastrarEvento">cadastrar eventos</a>
                                                </li>  

                                                                                            
                                                    
                                              
                                            </ul>
                                            -->
                                </header>
                    </div>
                <div class="col-md-2 col-lg-3"> </div>
        </div>
        <main role="main" class="pb-3 ">
            @RenderBody()
        </main>
    </div>



    <footer class="border-top footer text-muted">
        <div class="container-fluid text-center">
            <div class="row">
                <div class="col-12">
            &copy; 2020 - Hotsite
            </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>

</html>
