

@{
    Layout="_Layout";
}




<div> <h1>Dicas</h1></div>

<div class="row">
    <div class="col-md-1 col-lg-1"></div>
    <div class="col-sm-12 col-md-10 col-lg-10">

    <h2>Dica de vida Saudável</h2>
    <p>
        Lorem ipsum dolor sit amet. Qui tenetur sunt et assumenda unde fugiat doloribus ut recusandae molestiae? Qui exercitationem nesciunt sit voluptatum amet quo voluptatibus repellat qui molestias Quis in recusandae quis qui esse nulla. Est vero laborum non eaque sint aut eaque temporibus.
   
      </p> 

      <p>
        Ab recusandae pariatur 33 ipsa quisquam et ipsa placeat et ipsum sunt eos porro perferendis et sint ducimus. Ut maxime maxime non omnis sunt non alias ipsum est ipsam consequatur. In incidunt repudiandae cum repudiandae tempore non odit nulla. Non quis ipsam ut voluptate molestias hic voluptas eveniet qui asperiores quas qui nulla cumque tempore recusandae.
      </p>
      
      <p>
        Est facilis voluptatem sit nisi iusto ut sint iusto sed maiores minus est voluptatem ipsum vel animi consequatur. Sit corrupti neque id mollitia placeat qui aspernatur sequi.
      </p>
        
    

</div>
<div class="col-md-1 col-lg-1"></div>
</div>
