@model Interesse
@{
    ViewData["Title"] = "Hotsite";
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/site.css" />


<div class="row text-center">


    <div class=" col-sm-12 col-md-5 col-lg-5 p-5  bg-info" >
      <div style="z-index: 1;">
        <h4 class="text-success " style="text-shadow: 0px 0px 2px   black ;">Iniciativa Saúde da Cidade</h4>
        <p>
            Texto sobre vida saudável: Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae legendos
            at vix ad putent delectus delicata usu. Vidit dissentiet eos cu eum an brute copiosae hendrerit.
        </p>
        <p>
            Texto sobre vida iniciativa: Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae legendos
            at vix ad putent delectus delicata usu. Vidit dissentiet eos cu eum an brute copiosae hendrerit.
        </p>
        </div>
    </div>
    <!--fim col-->

    <div class="col-sm-12 col-md-7 col-lg-7 pl-3 pr-3 ">

        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="~/img/vidaSaudavel.jpg" alt="Primeiro Slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="~/img/paprika.jpg" alt="Segundo Slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="~/img/woman2.jpg" alt="Terceiro Slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Próximo</span>
  </a>
</div>
             
    </div>
    <!--fim col-->
</div>
<!--final da row-->





<div class="row text-center">
    <div class="col-sm-12 col-md-5 col-lg-5   bg-info ">
        <h2>Entre em contato!:</h2>
        <p>Nos mande uma mensagem e fique por dentro de nossos eventos</p>

        <form  asp-action="Cadastrar" method="POST" onsubmit="return validarFormulario (this);" id="formularioInteresse" >

            <div class="form-group row">
                <label asp-for="Nome" class="col-3">Nome:</label>
                <input asp-for="Nome" type="text" class="form-control  col-8" id="nome" value="" style="background: #B0E0E6 ;"/>
                
            </div>
            <div class="form-group row">
                <label asp-for="Email" class="col-3">Email:</label>
                <input asp-for="Email" type="email" class="form-control col-8" style="background: #B0E0E6 ;"  id="Email" value=""/>
            </div>
            <div class="form-group row">
                <label asp-for="Mensagem" class="col-3">Mensagem (opcional):</label>
                <textarea asp-for="Mensagem" class="form-control  col-8" rows="3" style="background: #B0E0E6 ;" ></textarea>
            </div>
            <div class="form-group row">
                <div class="col-8" >  
                  <span class="msg-error msg-nome bg-info h5" style="text-shadow: 0px 0px 2px   black ;" ></span>
                  <span class="msg-error msg-email" style="text-shadow: 0px 0px 1px   black ;"></span>
                  <p  class="text-danger" style="text-shadow: 0px 0px 1px   black ; "> @ViewBag.msgErroDeCadastro </p >
                  <p class="text-success" style="text-shadow: 0px 0px 1apx   black ;"> @ViewBag.msgExito</p></div>
                
                
                <button type="submit" value="Enviar" class="col-3 btn btn-outline bg-success text-white" > Enviar</button>
                
                
                <div class="col-1"></div>

            </div>

        </form>


    </div>
    <!--final da col formulario-->

 
     
    
      
  



    <div class="col-sm-12 col-md-7  col-lg-7 ">
        <div class="row p-3 justifi-item-center">
            <div class="col-sm-12 col-md-4 col-lg-4 pt-5  ">

                      <div class="card"style= " border: none;" >
                        
                          <div class="card" style= " border: none;"  >                        
                           
                              

                                      <!--popup agenda de eventos-->
                                  <a   class="btn"   type="button" class="btn" data-toggle="modal" data-target="#modalAgenda">
                                      <figure>
                                        <img class="card-img-top" src="~/img/agenda.png" alt="Imagem de capa do card">
                                        <figcaption><h5>Agenda de eventos</h5></figcaption>
                                      </figure>
                                  </a>
                           

 

                                    <!-- Modal -->
                          <div class="modal fade" id="modalAgenda" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLabel">Agenda de Eventos</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                 
                                    
                                   <partial name="agenda" />
                                 
                                 
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Fechar</button>
                                  
                                </div>
                              </div>
                            </div>
                          </div>
                          <!--fim modal-->

                             
                          </div>

                    </div>
              
               </div>
            
            
              <div class="col-sm-12 col-md-4 col-lg-4 pt-5 ">

                    <div class="card" style= "border: none;" >
                        
                            <div class="card" style= " border: none;"  >                        


                                       <!-- popup dicas -->
                                    <a  class="btn"   type="button" class="btn" data-toggle="modal" data-target="#modalDicas">
                                      <figure>
                                      <img   class="card-img-top" src="~/img/dicas.jpg" alt="Imagem de capa do card">
                                      <figcaption><h5>Dicas de vida saudável</h5></figcaption>
                                      </figure>
                                  </a>

                                   <div class="modal fade" id="modalDicas" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                  <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Dica de vida saudável</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body">
                                        <partial name="dicas"/>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Fechar</button>
                                       
                                      </div>
                                    </div>
                                  </div>
                                </div>
                            </div>

                    </div>
              
              </div>


            <div class="col-sm-12 col-md-4 col-lg-4 pt-5  ">
              <div class="card" style= " border: none;" >
                        
                            <div class="card " style= " border: none;"  >                        


                                    <!-- popap apoiadores-->
                                    <a class="btn"   type="button" class="btn" data-toggle="modal" data-target="#modalApoiadores">
                                      <figure>
                                      <img  class="card-img-top " src="~/img/apoio.jpg" alt="Imagem de capa do card">
                                      <figcaption><h5>Apoiadores</h5></figcaption>
                                      </figure>
                                  </a>

                                   <div class="modal fade" id="modalApoiadores" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                      <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                          <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Apoiadores</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                              <span aria-hidden="true">&times;</span>
                                            </button>
                                          </div>
                                          <div class="modal-body">
                                            <partial name="apoiadores"/>
                                          </div>
                                          <div class="modal-footer">
                                            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Fechar</button>
                                            
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                            </div>

                    </div>
              
              </div>

        </div>

    </div>
</div>
<!--final da row-->





<div>



</div>



